body {
    background-color: bisque;
    color: black;
}

nav {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 60px; */
    /* gap: 50px; */
    background-color: chocolate;
}